form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form > div {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: 10px;
  font-size: 15px;
}

form > div > button {
  background-color: #93e4f5;
  border-style: none;
  padding: 5px 10px;
  color: white;
  border-radius: 10px;
  flex: 1;
}

form > div > input {
  border-style: none;
  border-bottom: 1px solid black;
}
