{{define "page"}}
<form action="/users" method="post">
  <title>Start Your Journey</title>
  <div>
    <label for="email">Email Address</label>
    <input
      required
      name="email"
      id="email"
      placeholder="your@email.com"
      type="email"
      autocomplete="email"
      value="{{.Email}}"
      {{if
      not
      .Email}}autofocus{{end}}
    />
  </div>

  <div>
    <label for="password">Password</label>
    <input
      required
      name="password"
      id="password"
      type="password"
      placeholder="Password"
      {{if
      .Email}}
      autofocus
      {{end}}
    />
  </div>

  <div>
    <button type="submit">SIGN UP</button>
  </div>
</form>
{{end}}
